In [14]:
from pyspark import SparkContext ,SQLContext

sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)



data = sqlContext.createDataFrame([("Alberto", 2), ("Dakota", 2)], 
                                  ["Name", "askdaosdka"])
data.show()
data.printSchema()

+-------+----------+
|   Name|askdaosdka|
+-------+----------+
|Alberto|         2|
| Dakota|         2|
+-------+----------+

root
 |-- Name: string (nullable = true)
 |-- askdaosdka: long (nullable = true)

In [16]:
df = data.selectExpr("Name as name", "askdaosdka as age")
df.show()
df.printSchema()

+-------+---+
|   name|age|
+-------+---+
|Alberto|  2|
| Dakota|  2|
+-------+---+

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [23]:
from functools import reduce

In [25]:
old_column=data.schema.names

In [26]:
new =['name','age']

In [39]:
df = reduce(lambda data, idx: data.withColumnRenamed(old_column[idx], new[idx]), xrange(len(old_column)), data)

NameError: name 'xrange' is not defined

In [44]:
from pyspark.sql.functions import col

data1 = data.select(col("Name").alias("name"), col("askdaosdka").alias("age"))
data1.show()

+-------+---+
|   name|age|
+-------+---+
|Alberto|  2|
| Dakota|  2|
+-------+---+

In [46]:
sqlContext.registerDataFrameAsTable(data, "myTable")
df2 = sqlContext.sql("SELECT Name AS name, askdaosdka as age from myTable")


df2.show()

+-------+---+
|   name|age|
+-------+---+
|Alberto|  2|
| Dakota|  2|
+-------+---+

In [47]:
df2.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [49]:
df.withColumnRenamed("Name","newname").withColumnRenamed("askdaosdka","age")

DataFrame[newname: string, age: bigint]

In [51]:
df.show()

+-------+---+
|   name|age|
+-------+---+
|Alberto|  2|
| Dakota|  2|
+-------+---+

In [ ]:
df.withColumnRenamed("Name","newname")